* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  text-align: center;
  width: 80%;
  background-color: rgb(0, 0, 0);
  background-size: cover;
  margin: 0px auto;
  border-radius: 5px;
  }

.navbar ul {
  display: inline-flex;
  list-style: none;
  align-items: center;
  
}

.navbar ul li {
  
  margin: 15px;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  
}

.navbar ul li:hover  {
  background-color: rgb(255, 255, 0);
  border-radius: 3px;
  
}

.navbar ul li:hover a
{
  color: black;
  
}

.Campuses-menu {
  display: none;
}
.navbar ul li:hover .Campuses-menu {
  display: block;
  position: absolute;
  background: rgb(21, 7, 111);
  margin-top: 5px;
  margin-left: -15px; 
}

.navbar ul li:hover .Campuses-menu a
{
  color: rgb(255, 255, 255);
}
.navbar ul li:hover .Campuses-menu ul {
    display: block;
    margin: 5px;
}

.navbar ul li:hover .Campuses-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px double #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.navbar ul li:hover .Campuses-menu ul li:last-child {
    
    border-bottom: none;
    
}

.navbar ul li:hover .Campuses-menu ul li a:hover {
    color:rgb(255, 255, 0);

}

.karachi-menu {
    display: none;
  }

  .navbar ul li:hover .Campuses-menu ul li:hover .karachi-menu
 {
    display: block;
    position: absolute;
    background: rgb(255, 0, 0);
    margin-top: -30px;
    margin-left: 142px; 
  }
